src/main/java/app/Secrets.java
.gradle/
.settings/
.classpath
.project
build/
bin/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.lock
*.bin
build/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# IDEA
.idea/*
local.properties
varush-bot.iml
java_pid32597.hprof